<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link href="{{ asset("css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ asset("css/sb-admin.css")}}" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="{{ asset("css/plugins/morris.css") }}" rel="stylesheet">
    <script src="{{ asset("js/jquery.js")}}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ asset("js/bootstrap.min.js")}}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ asset("js/plugins/morris/raphael.min.js")}}"></script>
    <script src="{{ asset("js/plugins/morris/morris.min.js")}}"></script>
    <script src="{{ asset("js/plugins/morris/morris-data.js")}}"></script>

    <!-- Custom Fonts -->
    <link href="{{ asset("font-awesome/css/font-awesome.min.css") }}" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>