<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path("homepage") }}">Antibio Plus</a>
        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav">

            <li class="dropdown">

                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-user"></i>  {{ app.user.username }} <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="/profile"><i class="fa fa-fw fa-user"></i> Profile</a>
                    </li>
                    <li>
                        <a href="#"><i class="fa fa-fw fa-envelope"></i> Message</a>
                    </li>

                    <li class="divider"></li>
                    <li>
                        <a href="{{ path('fos_user_security_logout') }}"><i class="fa fa-fw fa-power-off"></i> Deconnexion</a>
                    </li>
                </ul>
                {% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                {% endif %}
            </li>
        </ul>





        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li class="active">
                    <a href="{{ path("homepage") }}"><i class="fa fa-fw fa-home"></i> Index</a>
                </li>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <li>
                    <a href="{{ path("etude_index") }}"><i class="fa fa-fw fa-flask"></i> Etude</a>
                </li>
                <li>
                    <a href="{{ path("equipe_index") }}"><i class="fa fa-fw fa-group"></i> Equipe</a>
                </li>
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-medkit"></i> Medecine <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="{{ path("antibiotique_index") }}"><i class="fa fa-fw fa-search"></i> Antibiotique</a>
                            </li>
                            <li>
                                <a href="{{ path("molecule_antibioplus_index") }}"><i class="fa fa-fw fa-search"></i> AntiBioPlus</a>
                            </li>
                            <li>
                                <a href="{{ path("souche_index") }}"><i class="fa fa-fw fa-search"></i> Souche</a>
                            </li>

                        </ul>
                    </li>


                {% endif %}
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
