<!DOCTYPE html>
<html>
    {% include("partial/header.html.twig") %}
    <body>
        {% include("partial/nav.html.twig") %}


        <div id="page-wrapper">

            <div class="container-fluid">
                {% block body %}{% endblock %}
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    <footer>

        <div class="container">
            <hr>
            <p class="text-center" style="color:rgba(255, 255, 255, 0.79)">Dev by <a href="http://twitter.com/NostraDev"><i class="fa fa-twitter"></i>NostraDev</a></p>
        </div>
    </footer>
    </body>
</html>
