{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Liste des molecule AntibioPlus
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-medkit"></i> Molecule AntibioPlus
            </li>
        </ol>
    </div>
</div>
<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for molecule in molecule_AntiBioPluses %}
            <tr>
                <td><a href="{{ path('molecule_antibioplus_show', { 'id': molecule.id }) }}">{{ molecule.id }}</a></td>
                <td>{{ molecule.nom }}</td>
                <td>

                    <a href="{{ path('molecule_antibioplus_show', { 'id': molecule.id }) }}"><i class="fa fa-file"></i> Voir</a>

                    <a href="{{ path('molecule_antibioplus_edit', { 'id': molecule.id }) }}"><i class="fa fa-edit"></i> Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('molecule_antibioplus_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Creer une nouvelle molecule</a>
</div>
</div>


{% endblock %}
