{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
              {{ molecule_AntiBioPlus.nom }}
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-medkit"></i> Molecule AntibioPlus
                </li>
            </ol>
        </div>
    </div>

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ molecule_AntiBioPlus.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ molecule_AntiBioPlus.nom }}</td>
            </tr>
        </tbody>
    </table>


            <a href="{{ path('molecule_antibioplus_edit', { 'id': molecule_AntiBioPlus.id }) }}" class="btn btn-info">Editer</a>
    <br><br>

            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}

{% endblock %}
