{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
           Edition de l'etude {{ etude.nom }}
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-flask"></i> Etude / edit / {{ etude.nom }}
            </li>
        </ol>
    </div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editer" class="btn btn-info" /><br><br>
    {{ form_end(edit_form) }}

    <div class="row">

        <div class="col-md-12">


            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}

        </div>
    </div>
</div>
{% endblock %}
