{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">.
            Bonjour {{ app.user.username }} voici vos etude en cours
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-flask"></i> Etude
            </li>
        </ol>
    </div>


    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date de debut</th>
                <th>Date de fin</th>
                <th>Administrateur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for etude in etudes %}
            <tr>
                <td><a href="{{ path('etude_show', { 'id': etude.id }) }}">{{ etude.id }}</a></td>
                <td>{{ etude.nom }}</td>
                <td>{% if etude.dateDebut %}{{ etude.dateDebut|date('d/m/Y') }}{% endif %}</td>
                <td>{% if etude.dateFin %}{{ etude.dateFin|date('d/m/Y') }}{% endif %}</td>
                <td><i class="fa fa-user"></i> {{ etude.administrateur }}</td>
                <td>

                            <a href="{{ path('etude_show', { 'id': etude.id }) }}"><i class="fa fa-file"></i> Voir</a>

                            <a href="{{ path('etude_edit', { 'id': etude.id }) }}"><i class="fa fa-edit"></i> Editer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('etude_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Creer une nouvelle étude</a>
</div>
{% endblock %}
