{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ajouter une etude</h1>

            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-flask"></i> Etude
                </li>
            </ol>
            <a href="{{ path('etude_index') }}"><i class="fa fa-mail-reply"></i> Revenir à la liste</a>
        </div>
    </div>
    {# src/OC/PlatformBundle/Resources/views/Advert/form.html.twig #}

    <h3>Formulaire d'annonce</h3>


        {{ form_start(form, {'attr': {'class': 'form'}}) }}

        {# Les erreurs générales du formulaire. #}
        {{ form_errors(form) }}



        {# Génération manuelle et éclatée : #}
        <div class="form-group">
            <div class="row">
            {# Génération du label. #}
            {{ form_label(form.nom, "Nom  de l'etude: ", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}

            {# Affichage des erreurs pour ce champ précis. #}
            {{ form_errors(form.nom) }}

            <div class="col-xs-2">
                {# Génération de l'input. #}
                {{ form_widget(form.nom, {'attr': {'class': 'form-control'}}) }}
            </div>

            </div>
        </div>


        {# Idem pour un autre champ. #}
    <div class="form-group">
        <div class="row">
        {{ form_label(form.administrateur, "Administrateur de l'etude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.administrateur) }}
            <div class="col-xs-2">
            {{ form_widget(form.administrateur, {'attr': {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-sm-2">
        {{ form_label(form.equipes, "Equipe(s) de l'étude", {'label_attr': {'class': 'control-label'}}) }}
        {{ form_errors(form.equipes) }}
            </div>

            <a href="{{ path("equipe_new") }}" class="btn  btn-xs btn-success"><i class="fa fa-plus-square"></i></a>
            <div class="col-xs-10">
            {{ form_widget(form.equipes)}}
        </div>
    </div>

    <div class="form-group">
        <div class="row">
        {{ form_label(form.dateDebut, "Date de debut de l'etude", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
        {{ form_errors(form.dateDebut) }}
            <div class="col-xs-10">
            {{ form_widget(form.dateDebut) }}
            </div>
        </div>
    </div>


        <div class="form-group">
            <div class="row">
                {{ form_label(form.dateFin, "Date de fin de l'etude (optionnelle)", {'label_attr': {'class': 'col-sm-2 control-label'}}) }}
                {{ form_errors(form.dateFin) }}
                <div class="col-xs-10">
                    {{ form_widget(form.dateFin) }}
                </div>
            </div>
        </div>

    <input type="submit" value="Ajouter" class="btn btn-success" />

    {# Génération automatique des champs pas encore écrits.
       Dans cet exemple, ce serait le champ CSRF (géré automatiquement par Symfony !)
       et tous les champs cachés (type « hidden »). #}
        {{ form_rest(form) }}

        {# Fermeture de la balise <form> du formulaire HTML #}
        {{ form_end(form) }}





{% endblock %}
