{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Etude: {{ etude.nom }}</h1>
            <a href="{{ path('etude_index') }}"><i class="fa fa-mail-reply"></i> Revenir à la liste</a>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-flask"></i> Etude
                </li>
            </ol>
        </div>
    </div>

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ etude.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ etude.nom }}</td>
            </tr>
            <tr>
                <th>Administrateur</th>
                <td><i class="fa fa-user"></i> {{ etude.administrateur.username }}</td>
            </tr>
            <tr>
                <th>Date debut</th>
                <td>{% if etude.dateDebut %}{{ etude.dateDebut|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Date fin</th>
                <td>{% if etude.dateFin %}{{ etude.dateFin|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Molécule antibio+</th>
                <td>
                    <ul class="list-unstyled">
                        {% for antibio in etude.moleculeAntibioplus %}
                            <li>{{ antibio.nom }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Souche</th>
                <td>
                    <ul class="list-unstyled">
                        {% for souche in etude.souches %}
                            <li>{{ souche.nom }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Antibiotique</th>
                <td>
                    <ul class="list-unstyled">
                        {% for antibio in etude.antibiotiques %}
                            <li>{{ antibio.nom }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th testMoleculeih>Session</th>
                <td><ul class="list-unstyled">
                        {% for session in etude.sessions %}
                            <li><a href="{{ path('session_show',{"id":session.id}) }}"><i class="fa fa-file-o"></i> {{ session.nom }}</a> | par : <a href="{{ path('equipe_show',{"id": session.equipe.id}) }}">  <i class="fa fa-group"></i> {{session.equipe.nom}} </a>| <i class="fa fa-medkit"> {{ session.antibiotique.nom }}</i></a></li>

                        {% endfor %}
                    </ul>
                    <a href="{{ path("session_new",{'id':etude.id })}}"><i class="fa fa-plus-circle"></i></a>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="row">

        <div class="col-md-12">

            <a href="{{ path('etude_edit', { 'id': etude.id }) }}" class="btn btn-info">Editer</a><br><br>
            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}
