{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Liste des Equipes
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-group"></i> Equipe
            </li>
        </ol>
    </div>
</div>
    <div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipe in equipes %}
            <tr>
                <td><a href="{{ path('equipe_show', { 'id': equipe.id }) }}">{{ equipe.id }}</a></td>
                <td>{{ equipe.nom }}</td>
                <td>

                    <a href="{{ path('equipe_show', { 'id': equipe.id }) }}"><i class="fa fa-file"></i> Voir</a>

                    <a href="{{ path('equipe_edit', { 'id': equipe.id }) }}"><i class="fa fa-edit"></i> Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('equipe_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Creer une nouvelle équipe</a>
</div>
    
{% endblock %}
