{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
          Creer une équipe
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-group"></i> Equipe
            </li>
        </ol>
    </div>
</div>
    <div class="container">

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Creer" class="btn btn-success" />
    {{ form_end(form) }}
    </div>


{% endblock %}
