{%  extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Equipe
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-group"></i> Equipe / {{ equipe.nom }}
            </li>
        </ol>
    </div>
</div>
    <div class="container">

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ equipe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ equipe.nom }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">

            <div class="col-md-12">

                <a href="{{ path('equipe_edit', { 'id': equipe.id }) }}" class="btn btn-info">Editer</a><br><br>
                {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
                {{ form_end(delete_form) }}

            </div>
        </div>
</div>
{% endblock %}
