{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Antibio plus <small>Bienvenue</small>
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-home"></i> Acceuil
                </li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci at deleniti et excepturi inventore recusandae rem totam voluptatem? Alias atque beatae cum eaque error magni mollitia nihil officia, praesentium voluptatibus!</span><span>Aperiam architecto culpa cupiditate deleniti doloremque, ea eligendi et ex fugit incidunt, laboriosam mollitia nam natus nostrum quasi qui quidem quo ratione repellat sapiente sed tenetur totam voluptatum! Architecto, eligendi.</span><span>Animi autem, beatae dolorum labore pariatur porro possimus quia rem sit? Eaque neque, nihil. Ab commodi consequuntur culpa deleniti earum harum id, incidunt laboriosam quaerat quasi quo, ratione repudiandae vel!</span><span>Assumenda dicta ea iure laudantium modi porro quo saepe totam vel velit! Error explicabo facilis nam porro? Cumque dicta error et eveniet facere, magni, quam repellat saepe vel veritatis voluptatibus.</span><span>Autem dignissimos eaque eligendi, eveniet illo quidem quisquam veniam! Architecto, atque commodi cumque dolore doloribus eligendi eveniet facere illum impedit ipsam iste laudantium libero necessitatibus quae quisquam ullam veritatis. Nulla.</span><span>At cum delectus, dolore, ducimus ea eius, eligendi est impedit ipsam iusto laboriosam laudantium magni minus mollitia necessitatibus nostrum obcaecati pariatur porro quam quas quisquam rem reprehenderit saepe sed totam!</span><span>Accusantium eaque illo, ipsam molestias nobis quae quam vero. Autem dolorem eaque et, fuga ipsum libero porro possimus quo voluptate voluptatibus! Accusantium aliquid aperiam dolorem eius eum fuga mollitia ratione!</span><span>Delectus iure molestiae rem repellendus, sunt voluptate. Ad aliquid, corporis dignissimos ducimus eos fugiat ipsum necessitatibus nisi nostrum nulla sed voluptatibus. Corporis eaque expedita incidunt inventore, natus officiis provident quam.</span><span>Aspernatur culpa dicta est, iste nisi rem vitae! Eligendi molestiae nostrum provident recusandae rerum. Adipisci consequuntur deserunt iste magni praesentium quisquam ullam? Blanditiis culpa est, excepturi modi nisi non rem!</span><span>Animi aspernatur consequuntur nisi optio, quis sequi tempora. Aperiam commodi delectus dolorum magnam voluptas. Aliquid dignissimos error, eum, eveniet expedita hic ipsum magni, nostrum nulla obcaecati perferendis suscipit veniam veritatis.</span></p>
        </div>
    </div>
{% endblock %}
