{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-lg-12">
        <h1 class="page-header">
            Edition de Session {{ session.nom }}
        </h1>
        <a href="{{ path('etude_show',{"id":session.etude.id}) }}"><i class="fa fa-mail-reply"></i> Revenir à l'etude {{ session.etude.nom}}</a>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-flask"></i> Etude / Session / edit / {{ session.nom }}
            </li>
        </ol>
    </div>
    <div class="container">
    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Editer" class="btn btn-info"/><br><br>
    {{ form_end(edit_form) }}


            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
    </div>
{% endblock %}
