{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Liste des session
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-flask"></i> Etude / Session
            </li>
        </ol>
    </div>
</div>
<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Equipe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for session in sessions %}
            <tr>
                <td><a href="{{ path('session_show', { 'id': session.id }) }}">{{ session.id }}</a></td>
                <td>{{ session.nom }}</td>
                <td><a href="{{ path("equipe_show",{'id':session.equipe.id}) }}"><i class="fa fa-group"></i> {{ session.equipe.nom }}</a></td>
                <td>

                    <a href="{{ path('session_show', { 'id': session.id }) }}"><i class="fa fa-file"></i> Voir</a>

                    <a href="{{ path('session_edit', { 'id': session.id }) }}"><i class="fa fa-edit"></i> Editer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
