{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ajouter une session pour <a href="{{ path('etude_show',{'id': etude.id}) }}">{{ etude.nom }}</a></h1>


            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-flask"></i> Etude / Session
                </li>
            </ol>
            <a href="{{ path('session_index') }}"><i class="fa fa-mail-reply"></i> Revenir à la liste</a>
        </div>
    </div>
    <div class="container">

    {{ form_start(form) }}
        {{ form_widget(form) }}
    <input type="submit" value="Ajouter" class="btn btn-success" />
    {{ form_end(form) }}

    </div>
{% endblock %}
