{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Session: {{ session.nom }}</h1>
            <a href="{{ path('etude_show',{"id":session.etude.id}) }}"><i class="fa fa-mail-reply"></i> Revenir à l'etude {{ session.etude.nom}}</a>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-flask"></i> Etude / Session / Antibiotique: {{ session.antibiotique.nom }}
                </li>
            </ol>
        </div>
    </div>
    <div class="container">
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ session.id }}</td>
            </tr>

            <tr>
                <th>Nom</th>
                <td>{{ session.nom }}</td>
            </tr>
            <tr>
                <th>Equipe</th>
                <td><i class="fa fa-group"></i> {{ session.equipe.nom }}</td>
            </tr>
            <tr>
                <th>Liste des souches</th>
                <td>{% for souche in session.etude.souches %} {{ souche.nom }} {% endfor %}</td>
            </tr>
            <tr>
                <th>Liste des molécules antibioplus</th>
                <td>{% for antibio in session.etude.moleculeAntibioplus %}{{ antibio.nom }}{% endfor %}</td>
            </tr>
            <tr>
            <th>Tests</th>
            <td><ul class="list-unstyled">
                    {% for test in tests %}
                    <li><a href="{{ path("test_show",{'id':test.id}) }}">{{ test.nom }}</a>{% endfor %}
                </ul>
                <a href="{{ path("test_new",{"id": session.id}) }}"><i class="fa fa-plus-circle"></i></a>
            </td>
            </tr>
        </tbody>
    </table>
        <table class="table table-responsive">
            <thead>
            <tr>
                <th>ID</th>
                <th>Test</th>
                <th>Antibiotique</th>
                <th>Antibioplus</th>
                <th>Souche</th>
                <th>Resultat</th>
                <th>Action</th>

            </tr>
            </thead>
            <tbody>
            {% for test in tests  %}
                <tr>
                    <td>{{ test.id }}</td>
                    <td>{{ test.nom }}</td>
                    <td>{{ test.antibiotique.nom }}</td>
                    <td>{{ test.moleculeAntibioplus.nom }}</td>
                    <td>{{ test.souche.nom }}</td>
                    <td class="text-center">
                        {% if(test.resultat == 0) %}
                            <span class="label label-default">{{ test.resultat }}</span>
                        {% endif %}
                        {% if(test.resultat >= 1 and test.resultat <= 10) %}
                            <span class="label label-danger">{{ test.resultat }}</span>
                        {% endif %}
                        {% if(test.resultat >= 11 and test.resultat <= 20) %}
                            <span class="label label-warning">{{ test.resultat }}</span>
                        {% endif %}
                        {% if(test.resultat >= 21 and test.resultat <= 30) %}
                                 <span class="label label-success">{{ test.resultat }}</span>
                        {% endif %}




                    </td>
                    <td><a href="{{ path('test_show',{"id":test.id}) }}">Voir</a> | <a href="{{ path('test_edit',{"id":test.id}) }}">Editer</a>  </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
        <table table="table table-bordered">

            <tr>
                <th></th>

            </tr>

        </table>

    <div class="row">

        <div class="col-md-12">
            {% if(app.user.id == session.etude.administrateur.id) %}
            <a href="{{ path('session_edit', { 'id': session.id }) }}" class="btn btn-info">Editer</a><br><br>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
            {% endif %}
            <br>
            <a href="{{ path ('session_export', {'id': session.id })}}" class="btn btn-success">Exporter</a>
        </div>
    </div>
    </div>
{% endblock %}
