{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Editer Antibiotique
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-medkit"></i> Antibiotiques
                </li>
            </ol>
        </div>
    </div>
    <div class="container">

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" class="btn btn-info"/><br><br>
    {{ form_end(edit_form) }}

            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
