{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Liste des Antibiotique
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-medkit"></i> Antibiotiques
            </li>
        </ol>
    </div>
</div>
<div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for antibiotique in antibiotiques %}
            <tr>
                <td><a href="{{ path('antibiotique_show', { 'id': antibiotique.id }) }}">{{ antibiotique.id }}</a></td>
                <td>{{ antibiotique.nom }}</td>
                <td>

                    <a href="{{ path('antibiotique_show', { 'id': antibiotique.id }) }}"><i class="fa fa-file"></i> Voir</a>

                    <a href="{{ path('antibiotique_edit', { 'id': antibiotique.id }) }}"><i class="fa fa-edit"></i> Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('antibiotique_new') }}" class="btn btn-success"><i class="fa fa-plus"></i> Creer un nouvel antibiotique</a>
</div>

{% endblock %}
