{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ajouter un Antibiotique</h1>

            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-medkit"></i>Antibiotique
                </li>
            </ol>
            <a href="{{ path('antibiotique_index') }}"><i class="fa fa-mail-reply"></i> Revenir à la liste</a>
        </div>
    </div>
    <div class="container">
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    </div>
{% endblock %}
