{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Antibiotique</h1>

            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-medkit"></i>Antibiotique
                </li>
            </ol>
            <a href="{{ path('antibiotique_index') }}"><i class="fa fa-mail-reply"></i> Revenir à la liste</a>
        </div>
    </div>
    <div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ antibiotique.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ antibiotique.nom }}</td>
            </tr>
        </tbody>
    </table>


            <a href="{{ path('antibiotique_edit', { 'id': antibiotique.id }) }}" class="btn btn-info">Editer</a><br><br>

            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}

    </div>
{% endblock %}
