{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Editer un test</h1>

            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-flask"></i> Etude / Session / Test
                </li>
            </ol>
            <a href="{{ path('session_show',{"id":test.session.id}) }}"><i class="fa fa-mail-reply"></i> Revenir à la session {{ test.session.nom }}</a>
        </div>
    </div>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Sauvegarder changement" class="btn btn-success  " /><br><br>
    {{ form_end(edit_form) }}
    <div class="row">
        <div class="col-md-12">

            {{ form_start(delete_form) }}

            <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}
