{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Liste des Test
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-flask"></i> Etude / Session / Test
            </li>
        </ol>
    </div>
</div>
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>Resultat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for test in tests %}
            <tr>
                <td><a href="{{ path('test_show', { 'id': test.id }) }}">{{ test.id }}</a></td>
                <td>{{ test.nom }}</td>
                <td>{% if test.date %}{{ test.date|date('d/m/Y') }}{% endif %}</td>
                <td>{{ test.resultat }}</td>
                <td>

                    <a href="{{ path('test_show', { 'id': test.id }) }}"><i class="fa fa-file"></i> Voir</a>

                    <a href="{{ path('test_edit', { 'id': test
                        .id }) }}"><i class="fa fa-edit"></i> Editer</a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
