{% extends 'base.html.twig' %}

{% block body %}
    
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ajouter un Test pour <a href="{{ path('session_show',{'id': session.id}) }}">{{ session.nom }}</a></h1>
            <h3>Antibiotique : <i>{{ session.antibiotique.nom }}</i></h3>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-flask"></i> Etude / Session / Test
                </li>
            </ol>
            <a href="{{ path("test_index") }}"><i class="fa fa-mail-reply"></i> Revenir à la liste</a>
        </div>
    </div>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="Ajouter" class="btn btn-success" />
    {{ form_end(form) }}

{% endblock %}
