{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Test: {{ test.nom }}</h1>
            <a href="{{ path('session_show',{"id":test.session.id}) }}"><i class="fa fa-mail-reply"></i> Revenir à la session {{ test.session.nom }}</a>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-flask"></i> Etude / Session / Test
                </li>
            </ol>
        </div>
    </div>
    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ test.id }}</td>
            </tr>
            <tr>
                <th>Equipe</th>
                <td><a href="{{ path('equipe_show',{'id': test.session.equipe.id}) }}">{{ test.session.equipe.nom }}</a></td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ test.nom }}</td>
            </tr>
            <tr>
                <th>Antibiotique</th>
                <td>{{ test.antibiotique.nom }}</td>
            </tr>
            <tr>
                <th>Souche</th>
                <td>{{ test.souche.nom }}</td>
            </tr>
            <tr>
                <th>Molecule Anbioplus</th>
                <td>{{ test.moleculeAntibioplus.nom}}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if test.date %}{{ test.date|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Resultat</th>
                <td>{{ test.resultat }} mm</td>
            </tr>
        </tbody>
    </table>

    <div class="row">

        <div class="col-md-12">

            <a href="{{ path('test_edit', { 'id': test.id }) }}" class="btn btn-info">Editer</a><br><br>
            {{ form_start(delete_form) }}
            <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}

        </div>
    </div>
{% endblock %}
