{% extends 'base.html.twig' %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Liste des Souche
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-medkit"></i> Souche
                </li>
            </ol>
        </div>
    </div>
    <div class="container">
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for souche in souches %}
            <tr>
                <td><a href="{{ path('souche_show', { 'id': souche.id }) }}">{{ souche.id }}</a></td>
                <td>{{ souche.nom }}</td>
                <td>

                    <a href="{{ path('souche_show', { 'id': souche.id }) }}"><i class="fa fa-file"></i> Voir</a>

                    <a href="{{ path('souche_edit', { 'id': souche.id }) }}"><i class="fa fa-edit"></i> Editer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>


            <a href="{{ path('souche_new') }}" class="btn btn-success">Ajouter une souche</a>

    </div>
{% endblock %}
