{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Ajouter une Souche</h1>

            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-medkit"></i>Souche
                </li>
            </ol>
            <a href="{{ path('souche_index') }}"><i class="fa fa-mail-reply"></i> Revenir à la liste</a>
        </div>
    </div>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Créer" class="btn btn-success"/>
    {{ form_end(form) }}


{% endblock %}
