{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
               Souche : {{ souche.nom }}
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-medkit"></i> Souche
                </li>
            </ol>
        </div>
    </div>

    <table class="table table-responsive">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ souche.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ souche.nom }}</td>
            </tr>
        </tbody>
    </table>


            <a href="{{ path('souche_edit', { 'id': souche.id }) }}" class="btn btn-info">Editer</a><br><br>

            {{ form_start(delete_form) }}
                <input type="submit" value="Supprimer" class="btn btn-danger">
            {{ form_end(delete_form) }}


{% endblock %}
